<%= image_tag('logo.png') %>
<h3>Internet Solutions</h3>

<div class="row-fluid page-header-element">
  <div class="span4">
    <%= raw @page.content_for(:left_top) %>
  </div>

  <div class="span4">
    <%= raw @page.content_for(:middle_top) %>
  </div>

  <div class="span4">
    <%= raw @page.content_for(:right_top) %>
  </div>

  <ul id='gallery'>
    <% @page.images.each do |image| %>
        <li>
          <%= link_to image_tag(image.thumbnail("100x100#c").url), image.thumbnail("900x900").url %>
        </li>
    <% end %>
  </ul>

</div>