body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input, button, select, textarea {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-search .search-query {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  //background: url("/images/bg-transparent.png") no-repeat fixed
}

@media (min-width: 1720px) {
    body {
        //background: url("/images/bg.png") no-repeat fixed
    }
}

.navbar-fixed-top .navbar-inner .container .brand img {
    padding: 1px 0 1px 4px;
}

.navbar-fixed-top .navbar-inner .container .nav li a {
    padding: 14px 15px 14px;
}

.page-header-element {
    margin-top: 70px;
}

.page-section {
    margin-bottom: 50px;
}

.fb-like-box {
    border: 1px #dcdcdc solid;
    padding: 40px 0 0 0;
    background: #fff;
}

#map_canvas {
    height: 100%;
}

.project-box-link {
    display: block;
    max-width: 370px;
    color: inherit;
    border-radius: 4px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}

.project-box-link:focus, .project-box-link:hover {
    text-decoration: none;
    color: inherit;
    border-color: #0088cc;
    box-shadow: 0 1px 30px rgba(0, 105, 214, 0.25);
    outline: 0;
}

.project-box {
    background: #ffffff;
    margin-bottom: 20px;
    border-radius: 5px;
}

.project-box strong {
    color: #0088cc;
}

.project-box img {
    border-radius: 5px 5px 0 0;
}

.project-box .short-description {
    border-top: 1px solid #ddd;
    padding: 10px;
}

.profile-social-links a {
    text-decoration: none;
}

.profile-collapse-summary a {
    text-decoration: none;
    font-weight: bold;
}

@media (min-width: 768px) {
    .project-box {
        height: 220px;
    }
}

@media (min-width: 980px) {
    .project-box {
        height: 240px;
    }
}

@media (min-width: 1200px) {
    .project-box {
        height: 277px;
    }
}

footer .social-media a {
    text-decoration: none;
    color: #444;
}

footer .social-media a:focus, footer .social-media a:hover {
    color: #222;
}